<h3 class="title"> Edit booking for 
<%= @store_bicycle.store.name %>
<%= @store_bicycle.bicycle.name %> 
</h3>

<%= render 'errors' %>
<%= render 'form' %>

<div class="calendar_container">
  <div id="calendar">
  </div>
</div>