<!--h3>Add booking for <#%= @store_bike.name %></h3-->
<!DOCTYPE html>

<html lang='en'>

<h3 class="title"> Booking for   
 
   <%= @store_bicycle.store.name %>   
   <%= @store_bicycle.bicycle.name %> 
</h3>
<%= render 'errors' %>
<% if current_user.under_store_bicycle_limit? %>
    <%= render 'form' %> 
<% else %>
    <span class="label label-default">
        Bike cannot be booked because you have already booked 2 bikes
    </span>
<% end %>

<div class="calendar_container">
  <div id="calendar">
  </div>
</div>

</html>