 <!DOCTYPE html>
 <html>
   <head>
      <div class="container">
         <div id="outer-box">
          <% if current_user %>
              <h2>Welcome <%= current_user.email %></h2>
          <% else %>
              <h2>Rent A Bike</h2>
          <% end %>
            <%= link_to new_user_registration_path, class: 'btn btn-info sign-up' do %><i class="glyphicon glyphicon-user"></i>Sign Up <% end %>
            <% if user_signed_in? %>
              <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-default log-out' do %><i class="glyphicon glyphicon-sign-out"></i>Log Out <% end %>
            <% else %>
              <%= link_to new_user_session_path,  class: 'btn btn-default log-in' do %><i class="glyphicon glyphicon-sign-in"></i>Log In <% end %>
          <% end %>
          </div>
      </div>
  </head>