<!DOCTYPE html>
<html lang='en'>
    <h1 class="title">Search Result</h1>  

    <% @results.each do |result| %>  
        <%= result.stores.name %> <%= result.name %><br>  
    <% end %>
    
    
</html>