<% if @store_bicycle.errors.any? %>
  <div class="errors">
    <h3 class="title">
      <%= pluralize(@store_bicycle.errors.count, 'error') %>
      prohibited this store_bicycle from being saved:
    </h3>
    <ul>
      <% @store_bicycle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>