
<p class="title">
  <strong>Store:</strong>
  <p><%= @store_bicycle.store %></p>
</p>

<p class="title">
  <strong>Bicycle:</strong>
  <p><%= @store_bicycle.bicycle %></p>
</p>




<%= link_to 'Edit', edit_store_bicycle_path(@store_bicycle) %> |
<%= link_to 'Back', store_bicycles_path %>
