/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require devise_bootstrap_views
 *= require fullcalendar
 *= require normalize-rails
 *= require_self
 */
 
@import "bootstrap-sprockets";  
@import "bootstrap";


* {
    font-family: 'Bungee', cursive;
    margin: 0;
    font-size: 10px;
    
}

h1 {
    font-family: 'Bungee', cursive;
}
h2 {
    font-family: 'Bungee', cursive;
}
h3 {
    font-family: 'Bungee', cursive;
}
h4 {
    font-family: 'Bungee', cursive;
}
h5 {
    font-family: 'Bungee', cursive;
}



tr.spaceUnder > td {

}

table{
  //border-spacing: 5px 12px;
  border-spacing: 5px;
  border-collapse: separate;
}

td {
  //width: 100%;
  //height: 20px;
  padding: 10px;
  //border: 1px solid blue;

  text-align: center;
}

.title {
    font-family: 'Bungee', cursive;
    //color: #ff0040;
    color: #31f5ff;
}

.user-name {
    padding-top: 15px;
    color: #ff0040;
    font-family: 'Bungee', cursive;
}

.nav.navbar-right li {

    .btn:hover {
        background-color: darken(#d9534f, 20%) !important;
        font-family: 'Bungee', cursive;
    }
    
}

span + span {
    margin-left: 30px;
}




.navbar-brand{
    text-align: middle;
}

.nav.navbar-nav li {
    font-family: 'Bungee', cursive;
}

.btn {
    font-family: 'Bungee', cursive;
     
}


.thumbnail.thumb-box {
  height: 400px;
}

.like:hover {
    text-decoration: none;
}

footer {
    background-color:transparent !important;
}

.unlike:hover {
    text-decoration: none;
}

.jumbotron {
    //background-image: url("18216525_1962380480648042_6610898501708973049_o.jpg");
   // background-size: cover;
   // background-repeat: no-repeat;
    background-color:transparent !important;
    color: white;
    text-align: center;
}

.vertical-center {
  min-height: 100%; 
  min-height: 15vh;    
  display: flex;
  align-items: center;
}

body {
    //background-image: url("ehud-neuhaus-108366.jpg");
    //background-image: url("julia-komarova-71662.jpg");
    //background-image: url("kiwihug-265692.jpg");
    //background-image: url("clark-young-403370.jpg");
    //background-color: #fff;
}

// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
    color: #ff0040;
   //color: #cecece;
  // color: #adcfe6;
   //color: #ffff00;
}

.container {
    text-align: center;
    margin: 0 auto;
    float: center;
    //color: #778899;

}


.col-1, .col-2, .col-3 {
    float: left;
    font-size: .8em;
}

.col-1 {
    width: 45%;
    padding: 0 5% 0 2.5%;
}

.col-2, .col-3 {
    width: 27.5%;
    padding: 0 2.5%;
}

body {
    //background-image: url("ehud-neuhaus-108366.jpg");
    //background-image: url("julia-komarova-71662.jpg");
    //background-image: url("kiwihug-265692.jpg");
    //background-image: url("clark-young-403370.jpg");
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("natthakit-khamso-201958.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
}

.user-name.text-right {
    margin-right: 25px;
    margin-left: 25px;
}

body, html {
    min-height: 100%;
    overflow:auto;
    padding-bottom:100px;
    height: 100%;
}

.results {
    
    float: left;
}
