* {
    font-family: 'Bungee', cursive;
    margin: 0;
    font-size: 10px;
    
}

body {
  background-color: #fff;
  color: #ff0040;
  font-family: 'Bungee', cursive;
  font-size: 12px;
 // line-height: 18px;
}

p, ol, ul, td {
  font-family: 'Bungee', cursive;
  font-size: 12px;
  line-height: 20px;
}





pre {
  background-color: #eee;
  padding: 9px;
  font-size: 12px;
}


div {
  &.field, &.actions {
    margin-bottom: 9px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}



#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #ff0040;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}


