<footer>
    <div class="container">
        <div class="row">
            <div class="span3">
                <div class="footer-widget">
                    <h2 class="brand widget-title">CycleHub</h2>
                    <p class="footer-tag-line">Managing Your Cycling</p>
                            <p>04293356431</p>
                    </li>
                </div>
            </div>
        </div>
        
    </div>
    
</footer>